body {
	background-image: url("clock1.jpeg");
	background-position: center;
	background-size: 1500px 1000px;
}


.container01 {
	border-style: solid;
	border-width: 7px;
	border-color: #7FFF00;
	border-radius: 6px;
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 100px;
	padding-bottom: 50px;
}


h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
    color: #8B0000;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	letter-spacing: 4px;
}


.timerDisplay {
	margin-bottom: 20px;
	margin-right: 200px;
	margin-left: 200px;
	border-style: solid;
	border-color: #7FFF00;
	border-radius: 20px;
	height: 100px;
	text-align: center;
    padding-top: 20px;
}


.timerDisplay > div {
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 1px;
	font-weight: 900;
	color: #FFDC00;
	margin-right: 30px;
	border-style: outset;
	border-radius: 200px;
	border-color: #FF4136;
	text-align: center;
	width: 80px;
	height: 80px;
	/*background-color: rgb(255,0,0);*/
	display: inline-block;
}


.displayTime {
	margin-top: 5px;
	margin-right: 13px;
	margin-left: 13px;
	padding-top: 10px;
	border-style: solid;
	border-color: red;
	border-radius: 100px;
	text-align: center;
	color: 	#2F4F4F;
	height: 30px;
	background-color: #AAAAAA;
	font-size: 20px;
}


.enterTimerDetails {
	color: #FFDC00;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
}


.inputDetails {
	display: inline-block;
}


.inputDetails > div {
	display: inline-block;
}


.inputDetails > input {
	display: inline-block;	
	margin-top: 20px;
	width: 120px;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
}


.timerOptions {
	text-align: center;
	margin-top: 20px;
}


.timerOptions > button {
	border-radius: 10px;
	height: 30px;
	font-weight: bold; 
}


.timerOptions > button:hover {
	opacity: 0.65;
	background-color: #7FDBFF;
}


.timerSetDetails {
	text-align: center;
}


.timerSetDetails > div {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
}


.timerSetDetails > div > button {
	height: 30px;
	border-radius: 10px;
	border-width: 0.1px;
	font-weight: bold;
}


.timerSetDetails > div > button:hover {
	background-color: #7FDBFF;
}


#myAudio {
  display: none;
}


#p01 {
	display: none;
}


.input1 {
    position: relative;
    display: inline-block;
}

.input1 .hint {
    visibility: hidden;
    width: 150px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 40%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 1.25s;
}

.input1 .hint::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}

.input1:hover .hint {
    visibility: visible;
    opacity: 0.75;
}


.input {
	background: transparent;
	width: 200px;
	border-color: #7FFF00;
	border-style: outset;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px #00CC66;
	color: #000066;
	transition: border 2.0s;
}


.input:focus {
	border: solid 3px #707070;
    box-shadow: 0 0 5px 1px #969696;
    font-family: Georgia, serif;
    font-size: large;
    color: #990000;
}


.button {
	opacity: 0.65;
	background: #FF3399;
}


.button:hover {
	letter-spacing: 1px;
}


#update {
	background: #99FF00;
}


#update:hover {
	color: #00FF00;
	letter-spacing: 1.5px;
	font-weight: bold;
	background: #6600FF;
	opacity: 0.65;
}


.saveCookie {
	text-align: center;
	margin-top: 20px;
}


.button01 {
	font-weight: bold;
	height: 30px;
	opacity: 0.65;
	background: #FF3399;
	border-width: solid 3px;
	box-shadow: 2px 2px 0 0 #00CC66;
	border-radius: 10px;
}


.button01:hover {
	color: #00FF00;
	letter-spacing: 1.5px;
	font-weight: bold;
	background: #6600FF;
	opacity: 0.65;
}